@import "tailwindcss";

@theme {
  --font-syne: var(--font-syne), ui-sans-serif, system-ui;
  --font-inter: var(--font-inter), ui-sans-serif, system-ui;
  --font-anton: var(--font-anton), ui-sans-serif, system-ui;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-inter);
}

.font-syne {
  font-family: var(--font-syne);
}

/* Grain Overlay Effect */
.grain::after {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.05;
  pointer-events: none;
  z-index: 9999;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-anton {
  font-family: var(--font-anton), sans-serif;
}